In [ ]:

# reference code from ninja API 
#name = 'San Francisco'
#api_url = 'https://api.api-ninjas.com/v1/city?name={}'.format(name)
#response = requests.get(api_url, headers={'X-Api-Key': 'API-Key'})
#if response.status_code == requests.codes.ok:
#    print(response.text)
#else:
#    print("Error:", response.status_code, response.text)

In [5]:
import requests
import pandas as pd

# import csv file to get player birth city name
file_path = 'player_information.csv'

# Read the CSV file and create a DataFrame
df = pd.read_csv(file_path)

In [6]:
df.head(5)

,player_id,player_name,player_firstName,player_lastName,player_birthDate,player_birthCity,player_birthCountry,player_birthStateProvince,player_nationality,player_height,player_weight,player_shootsCatches,player_primaryPositionCode
0,8444919,Tommy Albelin,Tommy,Albelin,1964-05-21,Stockholm,SWE,NaN,SWE,"6' 2""",195,L,D
1,8444945,Glenn Anderson,Glenn,Anderson,1960-10-02,Vancouver,CAN,BC,CAN,"6' 1""",190,L,R
2,8445000,Dave Andreychuk,Dave,Andreychuk,1963-09-29,Hamilton,CAN,ON,CAN,"6' 4""",225,R,L
3,8445275,Tom Barrasso,Tom,Barrasso,1965-03-31,Boston,USA,MA,USA,"6' 3""",210,R,G
4,8445386,Ed Belfour,Ed,Belfour,1965-04-21,Carman,CAN,MB,CAN,"6' 0""",214,L,G

In [12]:


# called 'df'
file_path = 'player_information.csv'
df = pd.read_csv(file_path)

# birth city column is named 'player_birthcity'
birth_city_column = 'player_birthCity'

# API base URL
api_base_url = 'https://api.api-ninjas.com/v1/city?'

#  API key
api_key = 'nVSl3APKDcl75e5gd1nmBg==GekBJP6bGG8nSITj'

# Lists to store latitude and longitude values
latitudes = []
longitudes = []

# Iterate through each row in the DataFrame
for index, row in df.iterrows():
    birth_city = row[birth_city_column]
    
    # Construct the API URL
    api_url = api_base_url + 'name={}'.format(birth_city)
    
    # Make the API request
    response = requests.get(api_url, headers={'X-Api-Key': api_key})
    
    if response.status_code == requests.codes.ok:
        data_list = response.json()
        if data_list:
            data = data_list[0]  # Assuming the API returns a list of results and we take the first one
            latitude = data.get('latitude')
            longitude = data.get('longitude')
            latitudes.append(latitude)
            longitudes.append(longitude)
        else:
            latitudes.append(None)
            longitudes.append(None)
    else:
        latitudes.append(None)
        longitudes.append(None)

# Add latitude and longitude lists as new columns to the DataFrame
df['Latitude'] = latitudes
df['Longitude'] = longitudes

In [15]:
df.head(5)

,player_id,player_name,player_firstName,player_lastName,player_birthDate,player_birthCity,player_birthCountry,player_birthStateProvince,player_nationality,player_height,player_weight,player_shootsCatches,player_primaryPositionCode,Latitude,Longitude
0,8444919,Tommy Albelin,Tommy,Albelin,1964-05-21,Stockholm,SWE,NaN,SWE,"6' 2""",195,L,D,59.3294,18.0686
1,8444945,Glenn Anderson,Glenn,Anderson,1960-10-02,Vancouver,CAN,BC,CAN,"6' 1""",190,L,R,49.2500,-123.1000
2,8445000,Dave Andreychuk,Dave,Andreychuk,1963-09-29,Hamilton,CAN,ON,CAN,"6' 4""",225,R,L,43.2567,-79.8692
3,8445275,Tom Barrasso,Tom,Barrasso,1965-03-31,Boston,USA,MA,USA,"6' 3""",210,R,G,42.3188,-71.0846
4,8445386,Ed Belfour,Ed,Belfour,1965-04-21,Carman,CAN,MB,CAN,"6' 0""",214,L,G,NaN,NaN

In [18]:
# Reorder columns and rename them
new_column_order = ['player_id','player_name','player_firstName','player_lastName','player_birthDate','player_birthCity','Latitude','Longitude','player_birthCountry','player_birthStateProvince','player_nationality','player_height','player_weight','player_shootsCatches','player_primaryPositionCode']
df = df[new_column_order]

# Rename columns
new_column_names = {
    'Latitude': 'player_birthCity_Lat',
    'Longitude': 'player_birthCity_Long',
   
}
player_info_LatLong_df = df.rename(columns=new_column_names)
player_info_LatLong_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   player_id                   790 non-null    int64
 1   player_name                 790 non-null    object
 2   player_firstName            790 non-null    object
 3   player_lastName             790 non-null    object
 4   player_birthDate            790 non-null    object
 5   player_birthCity            790 non-null    object
 6   player_birthCity_Lat        675 non-null    float64
 7   player_birthCity_Long       673 non-null    float64
 8   player_birthCountry         790 non-null    object
 9   player_birthStateProvince   601 non-null    object
 10  player_nationality          790 non-null    object
 11  player_height               790 non-null    object
 12  player_weight               790 non-null    int64
 13  player_shootsCatches        790 non-null    object
 14  player_primaryPositionCode  790 non-null    object
dtypes: float64(2), int64(2), object(11)
memory usage: 92.7+ KB

In [19]:
# Save the modified DataFrame to a new CSV file
new_file_path = 'player_information_with_lat_long.csv'
player_info_LatLong_df.to_csv(new_file_path, index=False,encoding = 'utf-8-sig')

print(f"Modified DataFrame saved to {new_file_path}")

Modified DataFrame saved to player_information_with_lat_long.csv